.class {
  margin: -0.05208rem .5vh;
  padding: 5vmin 0.04948rem 1px;
  border: 0.01563rem solid black;
  border-bottom-width: 1px;
  font-size: 0.07292rem;
  line-height: 0.10417rem;
}
.class2 {
  border: 1px solid black;
  margin-bottom: 1px;
  font-size: 0.10417rem;
  line-height: 0.15625rem;
}
@media (min-width: 750px) {
  .class3 {
    font-size: 0.08333rem;
    line-height: 0.11458rem;
  }
}

html, body {
  background: red;
}

.test {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10rem;
  height: 5.625rem;
  background: yellow;
}
